<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="host_password" value="test"/>
    <add key="host_auto_register_ip" value="true"/>
    <add key="host_default_port" value="8991"/>
    <add key="host_urls" value="http://localhost:8991" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>