<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="paynova_client_serverurl" value="https://to_by_provided_by_paynova"/>
    <add key="paynova_client_username" value="to_by_provided_by_paynova"/>
    <add key="paynova_client_password" value="to_by_provided_by_paynova"/>
    <!-- Test customer values to be retrieved by paynova -->
    <add key="customer_governmentId" value ="to_be_provided_by_paynova" />
    <add key="customer_email" value ="to_by_provided_by_paynova" />
  </appSettings>
</configuration>